
/* Your CSS Code here. */
#btn {
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#btn:hover {
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 30px;
}